docker.enabled = true
process.container = "dataintuitive/portash"
params {
  subtract__input = "value_not_found"
  subtract__term = "value_not_found"
  subtract__output = "value_not_found"
  id = ""
  dockerPrefix = ""
  input = ""
  output = ""
  subtract {
    name = "subtract"
    container = "dataintuitive/viash:latest"
    command = "subtract"
    arguments {
      input {
        name = "input"
        otype = "--"
        description = "Input file"
        required = true
        type = "file"
        direction = "Input"
        multiple = false
        multiple_sep = ":"
      }
      term {
        name = "term"
        otype = "--"
        description = "Term to use in subtraction"
        required = true
        type = "string"
        direction = "Input"
        multiple = false
        multiple_sep = ":"
      }
      output {
        name = "output"
        otype = "--"
        description = "Output file"
        required = true
        type = "file"
        direction = "Output"
        multiple = false
        multiple_sep = ":"
      }
    }
  }
}