docker.enabled = true
process.container = "dataintuitive/portash"
params {
  operation__input = "value_not_found"
  operation__term = "value_not_found"
  operation__operator = "+"
  operation__output = "value_not_found"
  id = ""
  dockerPrefix = ""
  input = ""
  output = ""
  operation {
    name = "operation"
    container = "dataintuitive/viash:latest"
    command = "operation"
    arguments {
      input {
        name = "input"
        otype = "--"
        description = "Input file"
        required = true
        type = "file"
        direction = "Input"
        multiple = false
        multiple_sep = ":"
      }
      term {
        name = "term"
        otype = "--"
        description = "Term to use in sum"
        required = true
        type = "string"
        direction = "Input"
        multiple = false
        multiple_sep = ":"
      }
      operator {
        name = "operator"
        otype = "--"
        description = "Operation to use"
        value = "${params.operation__operator}"
        required = false
        type = "string"
        direction = "Input"
        multiple = false
        multiple_sep = ":"
      }
      output {
        name = "output"
        otype = "--"
        description = "Output file"
        required = true
        type = "file"
        direction = "Output"
        multiple = false
        multiple_sep = ":"
      }
    }
  }
}