docker.enabled = true
process.container = "dataintuitive/portash"
params {
  skeleton__input = "value_not_found"
  skeleton__output = "value_not_found"
  id = ""
  dockerPrefix = ""
  input = ""
  output = ""
  skeleton {
    name = "skeleton"
    container = "dataintuitive/viash:latest"
    command = "skeleton"
    arguments {
      input {
        name = "input"
        otype = "--"
        description = "Input file"
        required = true
        type = "file"
        direction = "Input"
        multiple = false
        multiple_sep = ":"
      }
      output {
        name = "output"
        otype = "--"
        description = "Output file"
        required = true
        type = "file"
        direction = "Output"
        multiple = false
        multiple_sep = ":"
      }
    }
  }
}